
body{
    margin: 0;
    overflow: hidden;
}

#main-container{
    width: 100vw;
    height: 100vh;
}

#header-container{
    margin: 0 auto;
    width: 99%;
    height: 14%;
    border: solid 2px slategray;
}

#game-area-container{
    margin: 0 auto;
    width: 99%;
    height: 74%;
    border: solid 2px coral;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card{
    position: relative;
    width: 10%;
    height: 30%;
    border: solid 2px slategray;
}

.image-size{
    width: 100%;
    height: 100%;
}

.card-front{
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

.hide-card{
    display: none;
}

#stats-container{
    margin: 0 auto;
    width: 99%;
    height: 10%;
    border: solid 2px slategray;
}

