
body{
    margin: 0;
    overflow: hidden;
}

#main-container{
    width: 100vw;
    height: 100vh;
}

#header-container{
    margin: 0 auto;
    width: 99%;
    height: 14%;
    border: solid 2px slategray;
}

#game-area-container{
    margin: 0 auto;
    width: 80%;
    height: 75%;
    border: solid 2px coral;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card{
    position: relative;
    width: 15%;
    height: 32%;
    border: solid 2px slategray;
}

.image-size{
    width: 100%;
    height: 100%;
}

.card-front{
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

.hide-card{
    display: none;
}

#stats-container{
    margin: 0 auto;
    width: 99%;
    height: 10%;
    border: solid 2px slategray;
}

.stats-header {
    display: inline-block;
    margin-right: 20px;
}

.games-played-container{
    display: inline-block;
    margin-right: 20px;
}
.attempts-container{
    display: inline-block;
    margin-right: 20px;
}

.accuracy-container{
    display: inline-block;
    margin-right: 20px;
}

.button-container{
    display: inline-block;
    margin-right: 20px;
    float: right;
}

#accuracy-value{
    font-size: 20px;
    color: black;
}

